version: '1.0.5.{build}'
os: Windows Server 2012
install:
# Download and install Visual Studio 2012 KB2707250 patch if Test Platform is older than the one we expect
# Leave an update token on the build machine to identify that Visual Studio 2012 has been updated
# NOTE Patch installation is a relatively lengthy process
  - ps: |
      if (!(Test-Path -Path "C:\kb2707250.msp.applied")) {
        Write-Host -ForegroundColor Yellow "Downloading Visual Studio 2012 KB2707250 patch..."
        (New-Object System.Net.WebClient).DownloadFile('http://go.microsoft.com/fwlink/?LinkId=621427&clcid=0x409', 'C:\kb2707250.msp')
        Write-Host -ForegroundColor Yellow "Installing Visual Studio 2012 KB2707250 patch..."
        Start-Process -FilePath "msiexec" -ArgumentList "/p C:\kb2707250.msp /quiet /norestart /log C:\kb2707250.msp.log REINSTALL=ALL REINSTALLMODE=omus" -Wait
        Write-Output $null >> "C:\kb2707250.msp.applied"
        Write-Host -ForegroundColor Green "Visual Studio 2012 KB2707250 installation completed successfully."
      } else {
        Write-Host -ForegroundColor Green "Found Visual Studio 2012 KB2707250 update token. Update skipped."
      }
# Download and execute madskristensen AppVeyor VSIX ExtensionScripts in order to update revision number before project build
  - ps: (New-Object System.Net.WebClient).DownloadString("https://raw.githubusercontent.com/netspiri/ExtensionScripts/master/AppVeyor/vsix.ps1") | iex
cache:
# Retain NuGet packages unless packages.config is not updated to possibly minimize subsequent build times
  - packages -> **\packages.config
# Retain Visual Studio 2012 update token to identify whether this build machine has already update been updated
  - C:\kb2707250.msp.applied
# Retain the necessary Visual Studio 2012 update content to avoid re-updating on each build
  - C:\Program Files (x86)\Microsoft Visual Studio 11.0\Common7\IDE\CommonExtensions\Microsoft\TestWindow\Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
configuration:
  - Debug
  - Release
before_build:
# Restore NuGet package dependencies for proper compilation
  - cmd: nuget restore
# Updates the version number in the .vsixmanifest and updates the AppVeyor build number to match
  - ps: Vsix-IncrementVsixVersion .\BoostTestPlugin\source.extension.vsixmanifest $env:APPVEYOR_BUILD_NUMBER revision | Vsix-UpdateBuildVersion
build:
  verbosity: minimal
test:
  assemblies:
    - BoostTestAdapterNunit\bin\$(configuration)\BoostTestAdapterNunit.dll
artifacts:
  - path: BoostTestPlugin\bin\$(configuration)\BoostUnitTestAdapter.vsix
