<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
    <!-- Adapter Specific sections -->

    <!-- BoostTest adapter -->
    <BoostTest>
        <ExternalTestRunner type=".dll">
            <ExecutionCommandLine>C:\ExternalTestRunner.exe --test "{source}"</ExecutionCommandLine>
        </ExternalTestRunner>
        <Filters />
    </BoostTest>		
</RunSettings>